name: Deploy to Dev2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 40.81.228.37
          username: azureuser
          password: ${{ secrets.DEV2_SSH_KEY }}
          script: |
            cd ~/git-test3
            git pull origin main
            sudo docker stop apache-container
            sudo docker rm apache-container
            sudo docker build -t apache-demo .
            sudo docker run -d -p 80:80 --name apache-container apache-demo
